extends admin-header

block content
  h2(align = 'center') Admin
  .container
    h1 Welcome Admin
    h2 This is the Admin page
    h2 You have access to all the employees and supervisors.Do use your power wisely you are held accountable for any mishap as you have unlimited power!!!!!. 