extends sup_header
block content
  h2(align = 'center') Supervisor
  .container
    h1 Welcome #{title}!!
    h2 This is the Supervisors page.
    h2 You have access to all the employees who work under you.Do use your power wisely you are held accountable for any mishap.
